:root {
    --white: #FFFFFF;
    --black: #000000;
    --primary: #0060df;
    --secondary: #607d8b;
    --sm: 16px;
    --md: 20px;
    --lg: 24px;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.main {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

.container {
    display: grid;
    width: 400px;
}

.title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}

.options__checkbox, 
.options__range {
    font-size: var(--sm);
    font-weight: bold;
    margin: 8px 0;
}

.options__number {
    width: 50px;
}

.password {
    text-align: center;
}

.password__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: solid 1px var(--black);
    border-radius: 12px;
}

.password__text input {
    width: 90%;
}

.password__generated {
    border: 0;
    font-size: var(--md);
    text-align: center;
    background-color: transparent;
}

.password__generated:focus-visible {
    outline: none;
}

.password__button {
    background-color: var(--primary);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 49%;
    cursor: pointer;
    font-size: var(--sm);
    height: 50px;
    margin-top: 8px;
    transition: all 1s;
}

.password__button:hover {
    transform: scale(1.04);
    transition: all 1s;
    background-color: var(--secondary);
}

